<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AMSforAKF.Properties.Settings.C__USERS_USER_SOURCE_REPOS_WEBAPP_ANIMAL_MANAGEMENT_SYSTEM_DATABASEAKF_MDFConnectionString"
            connectionString="Data Source=DESKTOP-A6GPOLU\SQLEXPRESS;Initial Catalog=&quot;C:\USERS\USER\SOURCE\REPOS\WEBAPP\ANIMAL MANAGEMENT SYSTEM\DATABASEAKF.MDF&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>